importFrom(stats,dnorm)
importFrom(stats,pnorm)
importFrom(stats,qnorm)
importFrom(stats,mad)
importFrom(stats,optim)
importFrom(stats,nlminb)

export(beta.cauchy,beta.laplace,ebayesthresh,ebayesthresh.wavelet,
       postmean,postmed,tfromw,tfromx,threshld,wandafromx,wfromt,
       wfromx,wmonfromx,zetafromx)
